@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

.banner {
  position: relative;
}

.banner .bg {
  width: 100%;
  height: 88vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.banner .boy {
  position: absolute;
  left: 7vw;
  bottom: -30vh;
  width: 12vw;
  height: auto;
  opacity: 0;
}

.banner-txt p {
  font-size: 1.5vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #000;
  position: absolute;
  left: 19vw;
  top: 35vh;
}

.banner-txt h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #000;
  position: absolute;
  right: 8vw;
  top: 16vh;
  font-size: 2.5vw;
}

.bannervideo {
  position: fixed;
  z-index: 10;
  right: 0px;
  left: 0;
  margin: auto;
  bottom: 0;
}

.fix {
  position: fixed;
  z-index: 10;
  right: 0px;
  left: 0;
  margin: auto;
  bottom: 0;
  width: 600px;
  height: 200px;
}

.fix .icon1 {
  position: absolute;
  right: 0;
  bottom: 172px;
  z-index: 30;
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.logo {
  width: 18vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  position: absolute;
  z-index: 2;
  border-radius: 0 20px 20px 0;
  opacity: 0.9;
  -webkit-box-shadow: 5px 5px 10px #8a7256;
          box-shadow: 5px 5px 10px #8a7256;
  width: 88vw;
  height: 13vh;
  top: -13vh;
}

/* .collapse {
    font-size: 3vh;
} */
.collapse {
  background-color: #f2e2cede;
  border-radius: 10px;
}

.link {
  color: #4d4d4d;
  margin: 0 2.3vw;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  font-size: 3vh;
}

.link:hover {
  color: #fff;
}

.d-flex {
  margin-left: 2.5vw;
}

.diet-menu {
  z-index: 0;
  background-color: #f2e2cede;
  width: 14vw;
  height: 28vh;
  border-radius: 10px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 10px #464545;
          box-shadow: 0px 0px 10px #464545;
  opacity: 1;
}

.diet-menu a {
  text-decoration: none;
  display: block;
  color: rgba(59, 59, 59, 0.712);
  font-size: 1.4vw;
  text-shadow: 1px 1px 1px #757575;
  border-radius: 10px;
  text-align: center;
  height: 7vh;
  padding-top: 1vh;
}

.diet-menu a:hover {
  background-color: rgba(255, 255, 255, 0.795);
  color: #000;
}

.middle {
  width: 50vw;
  height: 65vh;
  position: absolute;
  right: 18vw;
  top: 18vh;
  background-color: #f2e2cee5;
  opacity: 0.9;
  z-index: 1;
  border-radius: 20px;
}

.middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #fff4e1;
  width: 45vw;
  height: 57vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px #837c68;
          box-shadow: 0 0 10px #837c68;
  -webkit-transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
          transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.middle img {
  width: 29vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 4vh;
  margin-left: 1vw;
  border-radius: 10px;
}

.middle .txt {
  margin-left: 1vw;
  margin-top: 5vh;
}

.middle .txt p {
  line-height: 1.7;
  padding-top: 1vh;
  padding-left: 0.7vw;
  color: rgba(0, 0, 0, 0.705);
  font-size: 1.1vw;
}

.middle h3 {
  font-size: 2vw;
}

.turn-page {
  -webkit-transform: perspective(2000px) rotate3d(1, 0, 1, 270deg);
          transform: perspective(2000px) rotate3d(1, 0, 1, 270deg);
}

.back {
  position: absolute;
  background-color: rgba(201, 195, 185, 0.596);
  width: 45vw;
  height: 57vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.back p {
  color: #fff;
  margin: 4vh 4vw 0;
  font-size: 1.3vw;
  line-height: 1.7;
  text-shadow: 2px 2px 2px #000;
}

/* 下一頁 */
.next {
  border: none;
  background-color: #ffd09a;
  width: 6vw;
  height: 5vh;
  font-size: 1vw;
  border-radius: 15px;
  color: #5c4810;
  -webkit-box-shadow: 0 0 5px #5c4810;
          box-shadow: 0 0 5px #5c4810;
  position: absolute;
  bottom: 1.5vh;
  right: 0.5vw;
}

.next:hover {
  color: #fff;
  background-color: #866533;
}

.go-back {
  border: none;
  background-color: #ffd09a;
  width: 6vw;
  height: 5vh;
  font-size: 1vw;
  border-radius: 15px;
  color: #5c4810;
  -webkit-box-shadow: 0 0 5px #5c4810;
          box-shadow: 0 0 5px #5c4810;
  position: absolute;
  bottom: 1.5vh;
  right: 0.5vw;
}

.go-back:hover {
  color: #fff;
  background-color: #866533;
}

.bg-img-6 {
  position: absolute;
  left: 3vw;
  top: 48vh;
  opacity: 0;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  width: 20vw;
}

.bg-img-3 {
  position: absolute;
  left: 30vw;
  top: 165vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 30vw;
}

.bg-img-2 {
  position: absolute;
  left: -20vw;
  top: 180vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 35vw;
}

.bg-img-1 {
  position: absolute;
  left: 6vw;
  top: 270vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 25vw;
}

.bg-img-4 {
  position: absolute;
  left: 45vw;
  top: 275vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 25vw;
}

.bg-img-5 {
  position: absolute;
  left: 20vw;
  top: 340vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 30vw;
}

.bg-img-8 {
  position: absolute;
  right: 0vw;
  opacity: 0;
  top: 88vh;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  width: 35vw;
}

.bg-img-7 {
  position: absolute;
  right: 0vw;
  top: 220vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 35vw;
}

.bg-img-9 {
  position: absolute;
  right: 0vw;
  top: 310vh;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 30vw;
}

.bg-img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: 0.6;
}

/* 跳出視窗:網頁設計說明 */
.modal-content {
  background-color: #ffedd6;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .link {
    margin-left: 0.2vw;
    font-size: 2vw;
    width: auto;
    white-space: nowrap;
  }
  .d-flex {
    margin-left: 0vw;
    width: 20vw;
    height: 6vh;
  }
  .d-flex button {
    width: 8vw;
    font-size: 1.2vw;
    text-align: center;
    padding: 0.5vh 0.5vw;
    font-size: 2vh;
  }
  .banner .bg {
    height: 70vh;
  }
  .logo {
    width: 16vw;
  }
  .middle {
    height: 48vh;
  }
  .middle img {
    height: 37vh;
    margin-top: 2.5vh;
  }
  .middle .container {
    height: 43vh;
  }
  .middle .txt {
    margin-top: 2.5vh;
  }
  .middle .txt p {
    padding-top: 0.5vh;
    font-size: 1.2vw;
  }
  .middle .txt h3 {
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    font-size: 1.7vw;
  }
  .diet-menu a {
    font-size: 2vw;
  }
  .back {
    height: 43vh;
  }
  .next {
    height: 3vh;
    bottom: 1vh;
  }
  .go-back {
    height: 3vh;
    bottom: 1vh;
  }
}

@media only screen and (max-width: 830px) {
  .link {
    margin-left: 2.5vw;
    font-size: 4vw;
    width: 6vw;
    white-space: nowrap;
  }
  .navbar-nav {
    margin-right: 0.5vw;
  }
  .d-flex {
    width: 70vw;
    margin-left: 1.5vw;
    height: 6vh;
    padding-bottom: 1vh;
  }
  .d-flex button {
    width: 12vw;
    font-size: 2vh;
    height: 5vh;
    font-size: 1.2vw;
    padding: 0.5vh 0.5vw;
  }
  .logo {
    width: 35vw;
  }
  .diet-menu {
    margin-left: 4vw;
  }
  .diet-menu a {
    font-size: 3.5vw;
  }
  .middle .txt {
    margin-top: 6vh;
  }
  .back p {
    font-size: 2vw;
  }
  .banner-txt p {
    font-size: 2.5vw;
  }
  .banner-txt p h1 {
    font-size: 3.5vw;
  }
  .next {
    height: 3vh;
    bottom: 1vh;
    width: 10vw;
    right: 1vw;
  }
  .go-back {
    height: 3vh;
    bottom: 1vh;
    width: 10vw;
    right: 1vw;
  }
}

@media only screen and (max-width: 450px) {
  .d-flex {
    width: 60vw;
    height: 6vh;
    padding-bottom: 1vh;
  }
  .d-flex button {
    width: 12vw;
    font-size: 0.2vh;
    height: 5vh;
  }
  .logo {
    width: 42vw;
  }
  .banner .bg {
    height: 80vh;
    width: 100vw;
  }
  .middle {
    height: 60vh;
    width: 70vw;
    right: 15vw;
  }
  .middle img {
    margin-top: 3vh;
    height: 50vh;
  }
  .middle .txt {
    margin-left: 2vw;
  }
  .middle .txt h3 {
    font-size: 2vh;
  }
  .middle .txt p {
    font-size: 1.5vh;
  }
  .middle .container {
    height: 55vh;
    width: 60vw;
  }
  .banner-txt p {
    left: 1vw;
    bottom: 10vh;
    font-size: 4vw;
  }
  .banner-txt p h1 {
    font-size: 5vw;
    right: 6vw;
  }
  .fix {
    width: 100vw;
  }
  .banner .link {
    font-size: 6vw;
  }
  .diet-menu a {
    font-size: 5vw;
  }
  .back {
    height: 55vh;
    width: 60vw;
  }
  .back p {
    font-size: 1.8vh;
    margin-top: 2vh;
  }
  .next {
    height: 3vh;
    bottom: 1vh;
    width: 17vw;
    right: 2vw;
  }
  .go-back {
    height: 3vh;
    bottom: 1vh;
    width: 17vw;
    right: 2vw;
  }
}

/*? 作者背景介紹 */
.wrap-1 {
  background-image: url(../images/作者介紹背景.jpg);
  height: 75vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap-1 .container {
  position: relative;
}

.wrap-1 h1 {
  text-align: center;
  padding: 4vh 0 2vh;
}

.wrap-1 .man-img {
  position: absolute;
  width: 22vw;
  height: 44vh;
  border-radius: 50%;
  top: 10vh;
  left: -15vw;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: A1 3s 4s ease infinite;
          animation: A1 3s 4s ease infinite;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.wrap-1 .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.wrap-1 .con img {
  width: 17vw;
  height: 45vh;
  margin-right: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  opacity: 0.9;
  border: 5px solid #ebae72;
  -webkit-box-shadow: 5px 5px 10px #c46f1a;
          box-shadow: 5px 5px 10px #c46f1a;
  margin-top: 2vh;
}

.wrap-1 .con .txt {
  margin-top: 4vh;
  font-size: 1.2vw;
  line-height: 2;
  padding-right: 2.5vw;
}

@-webkit-keyframes A1 {
  0% {
    -webkit-transform: perspective(500px) rotateY(0deg);
            transform: perspective(500px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(500px) rotateY(360deg);
            transform: perspective(500px) rotateY(360deg);
  }
}

@keyframes A1 {
  0% {
    -webkit-transform: perspective(500px) rotateY(0deg);
            transform: perspective(500px) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(500px) rotateY(360deg);
            transform: perspective(500px) rotateY(360deg);
  }
}

.nav-link {
  color: #ebae72;
}

.nav-link:hover {
  color: #eb8723;
}

.txt-img {
  padding-left: 5vw;
}

@media only screen and (max-width: 1200px) {
  .wrap-1 {
    height: 60vh;
  }
  .wrap-1 .man-img {
    width: 25vw;
    height: 25vw;
  }
  .wrap-1 .nav-link {
    width: 14vw;
  }
  .wrap-1 .con img {
    height: 30vh;
  }
  .wrap-1 .con .txt {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 830px) {
  .wrap-1 {
    height: 40vh;
  }
  .wrap-1 .con img {
    height: 20vh;
  }
}

@media only screen and (max-width: 450px) {
  .wrap-1 {
    height: 155vh;
  }
  .wrap-1 .nav-link {
    width: 30vw;
  }
  .wrap-1 .man-img {
    top: -22vh;
    width: 35vw;
    height: 35vw;
  }
  .wrap-1 .con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-1 .con img {
    width: 90vw;
    height: 40vh;
  }
  .wrap-1 .con .txt {
    font-size: 5vw;
    margin-right: 1vw;
  }
  .wrap-1 .container {
    margin-top: 23vh;
  }
}

.wrap {
  width: 100%;
  height: 100vh;
  background-image: url(../images/作者介紹背景.jpg);
}

.wrap .img1 {
  height: 80vh;
}

.wrap .img2 {
  height: 35vh;
}

.wrap .img3 {
  height: 40vh;
  width: 18vw;
  margin-bottom: 2vh;
}

.wrap .img4 {
  height: 35vh;
  margin-top: 2vh;
}

.wrap .left {
  border-right: 2px solid rgba(0, 0, 0, 0.301);
}

.wrap .right {
  border-bottom: 2px solid rgba(0, 0, 0, 0.301);
}

.wrap h1 {
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 4vh;
  z-index: 1;
}

.wrap h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.226);
  margin-top: 2vh;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
}

.wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
}

.wrap .item {
  position: relative;
}

.wrap .item h3 {
  color: #ffd620;
  margin-bottom: 4px;
}

.wrap .item h3::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffd620;
  margin: 5px 0;
  width: 0%;
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

.wrap .item p {
  color: #6efff8;
}

.wrap .item:hover .txt {
  opacity: 1;
}

.wrap .item:hover h3::after {
  width: 100%;
}

.wrap .txt {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2vh 1.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
  /* .wrap .item .txt {
        height: 30vh;
    } */
}

@media only screen and (max-width: 450px) {
  .wrap {
    height: 200vh;
    width: 100vw;
  }
  .wrap .item {
    height: 40vh;
    width: 95vw;
    margin-bottom: 5vh;
  }
  .wrap .img3 {
    width: 95vw;
    margin-bottom: 5vh;
  }
  .wrap .img4 {
    margin-top: 0;
  }
  .wrap .left {
    border: none;
  }
  .wrap .right {
    border: none;
  }
}

.wrap1 {
  background-image: url(../images/作者介紹背景.jpg);
  height: 120vh;
}

.wrap1 h1 {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 6vh;
}

.wrap1 .card-body {
  background-color: #fff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border-radius: 0 0 10px 10px;
}

.wrap1 a {
  text-decoration: none;
  color: #000;
}

.wrap1 a:hover .card-body {
  background-image: linear-gradient(45deg, #e9b480, #dbac81);
  color: #fff;
}

.wrap1 .item1 {
  padding-top: 10vh;
}

.wrap1 .modal-content {
  width: 70vw;
  height: 90vh;
  background-image: url(../images/背景紋理2.jpg);
  border-radius: 10px;
}

.wrap1 .modal-dialog {
  max-width: 70vw;
}

.wrap1 .modal-header {
  border: none;
}

.wrap1 .modal-footer {
  border: none;
}

.wrap1 .modal-body img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap1 .modal-body .txt {
  font-size: 1.6vw;
}

.my-card-img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-item {
  z-index: 5;
}

.wrap1 .btn-outline-success, .wrap1 .btn-outline-secondary {
  border: none;
  font-size: 1.3vw;
}

.wrap1 .btn-outline-success {
  color: #00753f;
}

.wrap1 .btn-outline-success:hover {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .my-card-img {
    height: 40vh;
  }
  .wrap1 {
    height: 100vh;
  }
}

@media only screen and (max-width: 830px) {
  .my-card-img {
    height: 25vh;
  }
  .wrap1 {
    height: 120vh;
  }
}

@media only screen and (max-width: 450px) {
  .wrap1 {
    height: 235vh;
  }
  .wrap1 .item1 {
    padding-top: 0;
  }
  .card-item {
    margin-bottom: 5vh;
  }
}

.wrap2 {
  position: relative;
  width: 100%;
  height: 500px;
}

.wrap2 h1 {
  position: absolute;
  color: #fff;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: auto;
  z-index: 2;
  text-shadow: 1px 1px 3px #000;
}

.wrap2 img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.wrap2 h5 {
  font-size: 28px;
  text-shadow: 1px 1px 3px #000;
}

.wrap2 p {
  text-shadow: 1px 1px 3px #000;
}

.wrap2 a {
  text-decoration: none;
  color: #fff;
}

.wrap2 .large {
  -webkit-transform: scale(2);
          transform: scale(2);
}

/* footer區域 */
.main-footer {
  padding: 50px 0 0;
  /* 上 左右 下 */
  background-color: #a2af3c;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.footer-item {
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 20px;
}

.footer-item h4 {
  font-size: 24px;
  color: #fff;
  border-bottom: 1px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.footer-item nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-item nav a {
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px 0;
}

.footer-item nav a:hover {
  color: #fa0;
}

.footer-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-subs form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto 0;
}

.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
  border: none;
  padding: 5px 10px;
}

.footer-subs input[type="text"] {
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-subs input[type="submit"] {
  color: #d6ffbb;
  background-color: #66720e;
}

.copyright {
  width: 100%;
  text-align: center;
  margin: 50px 0 0;
  padding: 10px 0;
  background-color: #66720e;
  color: #d6ffbb;
}
/*# sourceMappingURL=index.css.map */